

* /*es un selector universal. Esto significa que selecciona todos los elementos dentro de un documento HTML. Es especialmente útil cuando necesitas aplicar un estilo común a todos los elementos, sin tener que escribirlos individualmente. */
{
  margin: 0; /*Cuando defines , estás eliminando todos los márgenes externos del elemento, tanto en la parte superior, inferior, izquierda como derecha.*/
  padding: 0px; /*La propiedad  en CSS controla el espacio interior de un elemento, es decir, el espacio entre el contenido del elemento y su borde. Cuando defines , eliminas cualquier espacio interior que pudiera existir de forma predeterminada.*/
  
}

body{
  font-family: sans-serif;
  
}

.nav-bar{
  position: fixed; /*se comporte como una combinación entre  y . Básicamente, el elemento permanece "pegajoso" a su posición original hasta que se alcanza un cierto límite dentro de su contenedor principal. A partir de ahí, se queda fijo en la pantalla.*/
  top: 0; /* Define el punto en el que se "pega" */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.navbar{
  background-image: linear-gradient(to right, #a517ba, #b53cf2); /*color de fondo del navbar*/
  padding: 0 !important;
}

.navbar-brand img{ /*para cambiar el tañano del logo en el caso de que sea img*/
  height: 2.5rem; /*altura*/
  padding-left: 1.25rem; /*relleno izquierdo de 20 pixeles*/
}

.navbar-nav li{
  padding: 0 10px; /*establece el área de relleno en los cuatro lados de un elemento a la vez.*/
}

.navbar-nav li a{
  color: white !important;
  font-weight: 600;
  float: right; /*float ubica un elemento al lado izquierdo o derecho de su contenedor, permitiendo a los elementos de texto y en línea aparecer a su costado.*/
  text-align: left; /* Se alinea el texto a la derecha cuando esta en pantallas pequeñas*/
}

.navbar-toggler{
   outline: none !important;
   
}

/*-----------<!--banner-->------------*/

#banner{
  background-image: linear-gradient(to right, #a517ba, #7108a5);
  color: white;
  padding-top: 5%; /*establece el espacio de relleno requerido en la parte superior del elemento. */
}

.promo-title{
  font-size: 40px; /*font-size especifica la dimensión de la letra. */
  font-weight: 600; /*especifica el peso o grueso de la letra. Algunos tipos de letra sólo están disponibles en normal y bold.*/
  margin-top: 100px;
}

.play-btn{
  width: 45px;
  margin: 20px;
}

#banner a{
  color: white;
  text-decoration: none;
}

.bottom-img{
  width: 100%; /*width establece el ancho de un elemento. Por defecto, establece el ancho del área de contenido,*/
}

/*--------servicios---------*/
#services{
  background-image: linear-gradient(to right, #F9E0FA, #F9E0FA);
  padding: 80px 0;
} 

.services-img{
  width: 100px;
  margin-top: 20px;
}

.services{
  padding: 20px;
}

.services h4{
  padding: 5px;
  margin: 25px;
  text-transform: uppercase;
}

.title::before{
  content: '';
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block; /*linea bajo el titulo*/
  transform: translateY(63px);/*linea bajo el titulo*/
}



/*----------*/
.Btn {
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 60px;
  border: none;
  background-color: rgb(151, 95, 255);
  color: white;
  box-shadow: 0px 15px 15px rgb(56, 20, 94) inset, /*color de fondo btn*/
  0px 5px 10px rgba(5, 5, 5, 0.212),
  0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, hsl(292, 78%, 41%), #7108a5);
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #a517ba, #7108a5);
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}


/*---------about-us------------*/

#about-us{
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title{
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#about-us ul li{
  margin: 10px 0;
}

#about-us ul{
  margin-left: 20px;
}

/*------testimonios------*/
#testimonios{
  margin: 100px 0px;
}

.testimonios{
  border-left: 4px solid #7108a5;
  
}

.testimonios img{
  height: 95px;
  width: 85px;
  border-radius: 50%;
  margin: 0 10px;
}

.user-details{
  display: inline-block;
  font-size: 12px;
}

/*--------social media section---------*/

#social-media{
  background-image: linear-gradient(to right, #a517ba, #7108a5);
  padding: 100px 0;
  
}

#social-media p{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img{
  width: 35px;
  transition: 0.5s;
}

.social-icons a:hover img{
  transform: translateY(-10px);
}

/*--------footer---------*/
#footer{
  background-image: linear-gradient(to right, #a517ba, #7108a5);
  color: fff;
}

.footer-img{
  width: 100%;
}

.footer-box{
  padding: 20px;
}

.footer-box img{
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .fa{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: .093333rem;
  border-radius: 2px;
  background-image: linear-gradient(to right, #a517ba, #7108a5);
}

.footer-box .form-control{
  box-shadow: none !important; 
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary{
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, #a517ba, #7108a5);
}

hr{
  background-color: #fff;
}

.copyright{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}

.copyright{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}